.portfolio {
    max-width: 1280px;
    box-sizing: border-box;
    padding: 101px 70px 125px;
    margin: 0 auto;
  }

  @media screen and (max-width: 769px) {
    .portfolio{
      padding: 90px 50px;
    }
  }

  @media screen and (max-width: 485px) {
    .portfolio{
      padding: 70px 14px;
    }
  }