.err {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding-top: 180px;
}

@media screen and (max-width: 485px) {
  .err {
    gap: 10px;
    padding-top: 300px;
  }
}
