.err__number {
  margin: 0;
  color: white;
  color: #fff;
  text-align: center;
  font-size: 140px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 485px) {
  .err__number {
    font-size: 80px;
  }
}
