.movie-card {
  display: grid;
  gap: 14px;
  position: relative;
  height: 233px;
}

@media screen and (max-width: 890px) {
  .movie-card {
    height: max-content;
    gap: 25px;
  }
}

@media screen and (max-width: 375px) {
  .movie-card {
    gap: 16px;
  }
}