.more-films__button {
  width: 320px;
  min-height: 36px;
  border-radius: 6px;
  border: 1px solid #424242;
  background-color: #202020;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  transition: 0.8s ease-in-out;
  cursor: pointer;
}

.more-films__button:hover {
  opacity: 0.8;
}
