.header__burger {
  width: 44px;
  height: 38px;
  padding: 0;
  box-sizing: border-box;
  border: none;
  background-color: #202020;
  background-image: url(../../images/burger.svg);
  background-position: center;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 768px) {
  .header__burger {
    display: block;
  }
}

@media screen and (max-width: 485px) {
  .header__burger {
    width: 40px;
    background-image: url(../../images/burger-mobile.svg);
  }
}