.header__btn {
  width: 76px;
  min-height: 32px;
  box-sizing: border-box;
  color: #000;
  background-color: #3DDC84;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  margin-left: 30px;
}

@media screen and (max-width: 485px) {
  .header__btn{
    width: 54px;
    min-height: 26px;
    font-size: 10px;
    margin-left: 14px;
  }
}