.about-project__progress-heading {
  margin: 0;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  min-height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 485px) {
  .about-project__progress-heading {
    font-size: 11px;
    min-height: 35px;
  }
}
