.about-project__table {
  margin: 0;
  padding: 70px 0 110px;
  list-style: none;
  display: flex;
  gap: 40px;
}

@media screen and (max-width: 769px) {
  .about-project__table {
    gap: 30px;
    padding-bottom: 93px;
  }
}

@media screen and (max-width: 570px) {
  .about-project__table{
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 60px;
    gap: 59px;
  }
}