.footer__info {
  text-align: center;
  padding-bottom: 20px;
  border-bottom: solid 1px #424242;
  color: #888;
  font-size: 13px;
  font-weight: 400;
  margin: 0;
}

@media screen and (max-width: 485px) {
  .footer__info{
    color: #8b8b8b;
    text-align: center;
    font-size: 12px;
    line-height: normal;
  }
}
